body {
	text-align: center;
	background-color: #a06060;
}

h1 {
	font-size: 5rem;
	color: #DBEDF3;
	text-shadow: 3px 0 #DA0463;
    letter-spacing: .14em;
    text-transform: uppercase;
}

* {
    box-sizing: border-box;
    font-family: 'Brandon Grotesque', Arial, sans-serif;
}

.keys {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 50px;
    flex-wrap: wrap;
    text-align: center;
}

.key {
    border: 6px solid #2d2d2d;
    background-color: #e0e0e0;
    width: 100px;
    height: 100px;
}

.drumkit {
    display: flex;
    justify-content: center;
    height: 30rem;
}




